{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}

    <div class="ui stackable grid">
        <div class="twelve wide column">
            <h1 class="ui dividing header">{{ page.title }}</h1>
            <p>{{ page.intro|richtext }}</p>
            <div class="ui form">
                <form action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="ui primary button"><i class="mail icon"></i> submit</button>
                </form>
            </div>
        </div>
        <div class="four wide column">

            <div class="ui card">
                <div class="content">
                    <div class="header">Get involved</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">A couple of ways to get involved:</h4>
                    <div class="ui small feed">
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    Clone the project at <a href="https://github.com/acidjunk/funder">Github</a>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Start translating</a> all translations welcome
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui button">Join Project</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}