{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="ui raised center aligned segment">
        <div class="ui text container">
            <h1 class="ui header">
                {% trans "We support nonprofits" %}
                <div class="sub header">{% trans "An free platform ready to support millions of nonprofits worldwide." %}</div>
            </h1>
            <a href="https://github.com/acidjunk/funder" class="ui huge purple icon button">
                <i class="github icon"></i> {% trans "Contribute" %} <i class="right arrow icon"></i>
            </a>
        </div>
    </div>
    <div class="ui stackable grid">
        <div class="ten wide column">
            <div class="ui purple segment">
                <h1 class="ui header">{{ page.title }}</h1>
                {{ page.body|richtext }}
            </div>
        </div>
        <div class="six wide column">
            <div class="ui purple segment">
                <h1 class="ui header">Demo projects</h1>
                <p>{% trans "To show how this application can be used in some real world scenario's we added some demo projects." %}</p>
                <a href="https://github.com/acidjunk/funder" class="ui huge purple icon button">
                    <i class="search icon"></i> View projects</i>
                </a>
            </div>
        </div>
    </div>

    <div class="ui segment">
        <h2>{% trans "Recent projects" %}</h2>
        <div class="ui six doubling cards">
            {% for project in recent_projects %}
                <div class="ui card">
                    <div class="blurring dimmable image">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="{% pageurl project %}" class="ui purple button"><i
                                            class="right chevron icon"></i> {{ project.title }}</a>
                                </div>
                            </div>
                        </div>
                        {% image project.header_image fill-150x150 %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="ui segment">
        <h2>{% trans "Recent products" %}</h2>
        <div class="ui six doubling cards">
            {% for product in recent_products %}
                <div class="ui card">
                    <div class="blurring dimmable image">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="{% pageurl product %}" class="ui purple button"><i
                                            class="right chevron icon"></i> {{ product.title }}</a>
                                </div>
                            </div>
                        </div>
                        {% image product.header_image fill-150x150 %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}

{% block extra_js %}
    <script>
        $('.ui.cards .image').dimmer({
            on: 'hover'
        });
    </script>
{% endblock %}