{% extends "base.html" %}
{% load gravatar humanize wagtailcore_tags wagtailimages_tags static %}
{% block content %}

    <div class="ui raised segment">
        <h1 class="ui dividing header">
            Cart
            <div class="sub header">See what's in your shopping cart</div>
        </h1>
        <p>Payment successfully processed</p>

    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td>{{ item.project.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
        </tr>
        {% endfor %}
    </table>


    </div>

{% endblock %}
