{% extends "base.html" %}
{% load gravatar humanize wagtailcore_tags wagtailimages_tags static i18n %}
{% block content %}

<h1 class="ui dividing header">
    {% trans "Checkout" %}
</h1>
<form method="post" class="ui form" id="remove_product_form" action="/order/remove-product/">{% csrf_token %}<input type="hidden" name="product_id" value=""></form>
<form method="post" class="ui form" id="remove_project_form" action="/order/remove-project/">{% csrf_token %}<input type="hidden" name="project_id" value=""></form>
<form method="post" class="ui form" id="funder_checkout_form" action="/order/start-payment/">
    {% csrf_token %}
    <input type="hidden" name="provider_id">

    <div class="ui stackable grid">
        <div class="eleven wide column">
            <div class="ui segment"><p>{% trans "Check the form, and then click one of the banks to complete your donation." %}</p>
                <div class="ui equal width form">
                    <div class="fields">
                        <div class="required field">
                            <label>{% trans "Name" %}</label>
                            <input name="name" type="text" placeholder="{% trans "Your name" %}"
                                    {% if request.session.funder_name %}
                                   value="{{ request.session.funder_name }}"{% endif %}>
                        </div>
                        <div class="field">
                            <label>{% trans "Organisation" %}</label>
                            <input name="organisation" type="text" placeholder="{% trans "Your organisation's name if any"%}"
                                    {% if request.session.funder_organisation %}
                                   value="{{ request.session.funder_organisation }}"{% endif %}>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>{% trans "Email" %}</label>
                            <input type="text" name="email" placeholder="{% trans "Email" %}">
                        </div>
                        <div class="field"><label>{% trans "Anonymous?" %}</label>

                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="anonymous" tabindex="0" class="hidden">
                                <label>{% trans "Do not show my name on the project pages" %}</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                      <label>{% trans "I agree to the" %} <a href="">{% trans "terms and conditions" %}</a></label>
                      <div class="ui checkbox"><input type="checkbox" name="terms"></div>
                    </div>
                </div>
            </div>
            <div class="ui error message"></div>

            <h2 class="ui dividing header">{% trans "Choose a bank to continue" %}</h2>
            {% if banks %}
                <div class="ui three doubling link cards">
                    {% for bank in banks %}
                        <div class="ui card" data-value="{{ bank.id }}">
                            <div class="content">{{ bank.name }}</div>
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                    </div>
                                </div>
                                <img src="/static/images/sisow/providers/{{ bank.name }}.png">
                            </div>
                      </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        <div class="five wide column">

            <div class="ui raised segment">
                <h1 class="ui header">
                    <i class="shopping cart icon"></i>
                    <div class="content">Cart</div>
                </h1>

                <table class="ui very basic small celled table">
                    <thead>
                        <tr>
                            <th>{% trans "Item" %}</th>
                            <th>{% trans "Quantity" %}</th>
                            <th>{% trans "Price" %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                            <tr>
                                <td>{{ item.product }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>&euro; {{ item.total_price }}</td>
                                <td><a href="#" class="remove_{% if item.content_type.name == "Project"%}project{% elif item.content_type.name == "Product"%}product{% endif %}" data-value="{{ item.product.id }}"><i class="remove icon"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4">
                                <div align="right">
                                    {% if show_vat %}
                                        <i>{% trans "Total ex VAT" %}: </i> &euro; {{ total_without_vat }}<br>
                                        <i>{% trans "VAT" %}:</i>21%<br>
                                        <span style="font-size: 1.2rem;"><i>{% trans "Total with VAT" %}:</i> &euro; {{ total_with_vat|floatformat:2 }}</span>
                                    {% else %}
                                        <span style="font-size: 1.2rem;"><i>{% trans "Total" %}:</i> &euro; {{ total_without_vat|floatformat:2 }}</span>
                                    {% endif %}
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="ui raised segment">
                <h4>{% trans "Newsletter" %}</h4>
                <p>{% trans "Also subscribe to the newsletter?" %}</p>

                <div class="ui form">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>{% trans "Sign me up for the newsletter" %}</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</form>
{% endblock %}

{% block extra_js %}
<script>
    $('.ui.checkbox')
  .checkbox()
;

    $('.ui.card').on("click", function () {
        var provider_id = $(this).attr('data-value');
        $('input[name="provider_id"]').val(provider_id);
        $('#funder_checkout_form').submit();
    });
    $('.remove_product').on('click', function() {
        var product_id = $(this).attr('data-value');
        $('input[name="product_id"]').val(product_id);
        $('#remove_product_form').submit();
    });
    $('.remove_project').on('click', function() {
        var project_id = $(this).attr('data-value');
        $('input[name="project_id"]').val(project_id);
        $('#remove_project_form').submit();
    });

    $(document).ready(function() {

        // validation
        $('.ui.form').form({
            fields: {
                name: {
                    identifier: 'name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '{% trans "Please enter a name" %}'
                        }
                    ]
                },

                email: {
                    identifier: 'email',
                    optional: true,
                    rules: [
                        {
                            type: 'email',
                            prompt: '{% trans "Please enter a valid email address" %}'
                        }
                    ]
                },

                terms: {
                    identifier: 'terms',
                    rules: [
                        {
                            type: 'checked',
                            prompt: '{% trans "You must agree to the terms and conditions" %}'
                        }
                    ]
                }
            }
        });

        // called if correct data added to form
        function validationpassed() {

            // Multiple instances may have been bound to the form, only submit one.
            // This is a workaround and not ideal.
            // Improvements welcomed.

            if (window.lock != "locked") {
                var myform = $('.ui.form');
                $.ajax({
                    type: myform.attr('method'),
                    url: myform.attr('action'),
                    data: myform.serialize(),
                    success: function (data) {
                        //if successful at posting the form via ajax.
                        myformposted(data);
                        window.lock = "";
                    }
                });
            }
            window.lock = "locked";
        }
    });
</script>
{% endblock %}


