{% extends "base.html" %}
{% load gravatar humanize wagtailcore_tags wagtailimages_tags static %}
{% block content %}

<h1 class="ui dividing header">
    Checkout
</h1>

<form method="post" id="funder_checkout_form" action="/order/start-payment/">
    {% csrf_token %}
    <input type="hidden" name="provider_id">

    <div class="ui stackable grid">
        <div class="eleven wide column">
            <div class="ui segment"><p>Check the form, and then click one of the banks to complete your donation.</p>
                <div class="ui equal width form">
                    <div class="fields">
                        <div class="required field">
                            <label>Name</label>
                            <input name="name" type="text" placeholder="Your name"{% if request.session.funder_name %}
                                   value="{{ request.session.funder_name }}"{% endif %}>
                        </div>
                        <div class="field">
                            <label>Organisation</label>
                            <input name="organisation" type="text" placeholder="Your organisation's name if any"
                                    {% if request.session.funder_organisation %}
                                   value="{{ request.session.funder_organisation }}"{% endif %}>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>E-mail</label>
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="field"><label>Anonymous?</label>

                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="gift" tabindex="0" class="hidden">
                                <label>Do not show my name on the project pages</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                      <label>I agree to the <a href="">terms and conditions</a></label>
                      <input type="checkbox" placeholder="Last Name">
                    </div>
                </div>
            </div>

            <h2 class="ui dividing header">Choose a bank to continue</h2>
            {% if banks %}
                <div class="ui three doubling link cards">
                    {% for bank in banks %}
                        <div class="ui card" data-value="{{ bank.id }}">
                            <div class="content">{{ bank.name }}</div>
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="../start-payment/{{ bank.id }}"><div class="ui huge inverted icon button"><i class="trophy icon"></i> Checkout</div></a>
                                        </div>
                                    </div>
                                </div>
                                <img src="/static/images/sisow/providers/{{ bank.name }}.png">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        <div class="five wide column">
            <div class="ui raised segment">
                <h1 class="ui header">
                    <i class="shopping cart icon"></i>
                    <div class="content">Cart</div>
                </h1>

                <table class="ui very basic collapsing celled table">
                    <thead>
                        <tr>
                            <th>Product/Project</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                        <tr>
                            <td>{{ item.product }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">
                                <div class="ui right floated basic segment">
                                    <i>Total ex VAT: </i>{{ total_without_vat }}<br>
                                    <div align="right"><i>VAT:</i>21%<br></div>
                                    <i>Total with VAT:</i>{{ total_with_vat }}<br>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="ui raised segment">
                <h4>Newsletter</h4>
                <p>Also subscribe to the newsletter?</p>

                <div class="ui form">

                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Sign me up for the newsletter </label>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</form>
{% endblock %}

{% block extra_js %}
<script>
    $('.ui.cards .image').dimmer({
        on: 'hover'
    });
    $('.ui.card').on("click", function () {
        var provider_id = $(this).attr('data-value');
        $('input[name="provider_id"]').val(provider_id)
        $('#funder_checkout_form').submit();
    });

$('.ui.form')
  .form({
    fields: {
      name: {
        identifier: 'name',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter your name'
          }
        ]
      },
      skills: {
        identifier: 'bank',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please select a bank'
          }
        ]
      },
      terms: {
        identifier: 'terms',
        rules: [
          {
            type   : 'checked',
            prompt : 'You must agree to the terms and conditions'
          }
        ]
      }
    }
  })
;
</script>
{% endblock %}


