{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags i18n %}
{% load staticfiles %}

{% block content %}
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <div class="ui raised segment">

                <h1 class="ui dividing header" style="margin-top: -2px;">
                    <div class="content">
                        {{ project.title }}
                        <div class="sub header">

                            <a href="javascript: history.go(-1)" class="icon button"><i
                                    class="double angle left icon"></i>{% trans "back" %}</a>
                            {% trans "By" %} {{ project.author }} {% trans "on" %} {{ project.date|date:"F jS, Y" }}
                        </div>
                    </div>
                </h1>

                {% image self.header_image width-800 class="ui fluid image" %}

                <div class="ui purple inverted segment">
                    <table class="ui definition table">
                        <tr>
                            <td>{% trans "Amount needed" %}</td>
                            <td>{{ project.amount_needed }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Amount raised" %}</td>
                            <td>{{ project.amount_raised }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Organisation" %}</td>
                            <td>{{ project.organisation }}</td>
                        </tr>
                    </table>

                </div>
                <div class="ui divider"></div>
                {{ page.description|richtext }}
                <div class="ui divider"></div>
                <h3 class="ui header">{% trans "Share on" %}</h3>
                <button class="ui circular linkedin icon button" st_title="{{ project.title }}"
                        st_url="{{ SITE_URL }}{% pageurl project %}" displayText="LinkedIn"><i
                        class="linkedin icon"></i>
                </button>
                <button class="ui circular twitter icon button" st_title="{{ project.title }}"
                        st_url="{{ SITE_URL }}{% pageurl project %}" displayText="Tweet"><i class="twitter icon"></i>
                </button>
                <button class="ui circular facebook icon button" st_title="{{ project.title }}"
                        st_url="{{ SITE_URL }}{% pageurl project %}" displayText="Facebook"><i
                        class="facebook icon"></i>
                </button>
                <button class="ui circular google plus icon button" st_title="{{ project.title }}"
                        st_url="{{ SITE_URL }}{% pageurl project %}" displayText="Google +1"><i
                        class="google plus icon"></i>
                </button>
                <button class="ui circular mail icon button" st_title="{{ project.title }}"
                        st_url="{{ SITE_URL }}{% pageurl project %}"
                        displayText="Email"><i class="mail icon"></i>
                </button>

                <div class="ui divider"></div>

                <h3 class="ui header">{% trans "Activity" %}</h3>

                <div class="ui feed">
                    <div class="event">
                        <div class="label">
                            <img src="{% static "images/pledge_icon.png" %}">
                        </div>
                        <div class="content">
                            <div class="date">
                            a moment ago
                            </div>
                            <div class="summary">
                                <a class="user">
                                  Formatics
                                </a> pledged &euro; 900,-
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="{% static "images/pledge_icon.png" %}">
                        </div>
                        <div class="content">
                            <div class="date">
                            1 hour ago
                            </div>
                            <div class="summary">
                                <a class="user">
                                  Anononymous
                                </a> pledged &euro; 500,-
                            </div>
                        </div>
                    </div>

                    <div class="event">
                        <div class="label">
                            <img src="{% static "images/pledge_icon.png" %}">
                        </div>
                        <div class="content">
                            <div class="date">
                            3 days ago
                            </div>
                            <div class="summary">
                                <a class="user">
                                  Elliot Fu
                                </a> pledged &euro; 200,-
                            </div>
                        </div>
                    </div>

                </div>

                <div class="ui divider"></div>

                <h3 class="ui header">{% trans "Comments" %}</h3>
                {% if project.show_comments %}
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                         */
                        /*
                         var disqus_config = function () {
                         this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                         this.page.identifier = '{{ project.slug }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                         };
                         */
                        (function () {  // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');

                            s.src = '//funderdemosite.disqus.com/embed.js';

                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
                                                                      rel="nofollow">comments powered by Disqus.</a>
                    </noscript>
                {% else %}
                    <p>{% trans "Comments are disabled for this project" %}</p>
                {% endif %}


            </div>
        </div>
        <div class="four wide column">
            <div class="ui raised segment">

                <div class="ui statistic">
                    <div class="label">
                        {% trans "Status" %}
                    </div>
                    <div class="value">
                        {{ project.amount_raised }}
                    </div>
                </div>

                <div class="ui indicating progress" id="project">
                    <div class="bar"></div>
                    <div class="label">{% trans "Donated" %}</div>
                </div>
            </div>

            <div class="ui raised segment">
                <a class="ui purple ribbon label">{% trans "Donate now!" %}</a>
                <form class="ui form" method="post" action="/order/add-project/">
                    {% csrf_token %}
                    <input type="hidden" name="project_id" value="{{ project.id }}">
                    <div class="required field">
                        <label>{% trans "Name" %}</label>
                        <input type="text" name="name" placeholder="{% trans "Your name" %}"{% if request.session.funder_name %} value="{{ request.session.funder_name }}"{% endif %}>
                    </div>
                    <div class="required field">
                        <label>{% trans "Amount" %}</label>
                        <input type="text" name="amount" value="50">
                    </div>
                    <div class="field">
                        <label>{% trans "Organisation" %}</label>
                        <input type="text" name="organisation" placeholder="{% trans "Organisation" %}"{% if request.session.funder_organisation %} value="{{ request.session.funder_organisation }}"{% endif %}>
                    </div>
                    <button class="ui purple button" type="submit">{% trans "Donate" %}</button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        var percentage = (({{ project.amount_raised }} / {{ project.amount_needed }}) * 100).toFixed(2);
        $(document).ready(function () {
            $('#project').progress({
                percent: percentage,
            });
        });
    </script>
{% endblock %}