{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-projectpage{% endblock %}

{% block content %}
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <div class="ui raised segment">
                <h1 class="ui header">
                    <i class="shop icon"></i>
                    {{ page.title }}
                </h1>
                <div class="ui stackable two column grid">
                    <div class="column">
                        {% image self.feed_image width-300 class="img-thumbnail" %}
                    </div>
                    <div class="column">
                        <div class="ui purple inverted segment">
                            <table class="ui definition table">
                                <tr>
                                    <td>Amount needed</td>
                                    <td>{{ page.amount }}</td>
                                </tr>
                                <tr>
                                    <td>Organisation</td>
                                    <td>{{ page.organisation }}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                {{ page.description|richtext }}
            </div>
        </div>
        <div class="four wide column">
            <div class="ui raised segment">

                <div class="ui statistic">
                    <div class="label">
                        Status
                    </div>
                    <div class="value">
                        54,-
                    </div>
                </div>

                <div class="ui indicating progress" id="project">
                    <div class="bar"></div>
                    <div class="label">Gedoneerd</div>
                </div>
            </div>

            <div class="ui raised segment">
                <a class="ui purple ribbon label">Doneer nu!</a>

                <form class="ui form">
                    <div class="field">
                        <label>Naam</label>
                        <input type="text" name="name" placeholder="Naam">
                    </div>
                    <div class="field">
                        <label>Bedrag</label>
                        <input type="text" name="amount" placeholder="50,00">
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>I agree to the Terms and Conditions</label>
                        </div>
                    </div>
                    <button class="ui purple button" type="submit">Doneer</button>
                </form>
            </div>

        </div>
    </div>

    <script>
        $('#project').progress({
            percent: Math.floor((Math.random() * 100) + 1),
        });
    </script>

{% endblock %}