{% extends "base.html" %}
{% load gravatar humanize wagtailcore_tags wagtailimages_tags static i18n %}

{% block content %}
    {% for rl in self.related_links.all %}
        <p>{{ rl.title }}: <a href='{{ rl.link_page.url }}'>{{ rl.link_page }}</a></p>
    {% endfor %}


    <div class="ui stackable grid">
        <div class="thirteen wide column">
        <h1 class="ui dividing header">{% trans "Projects" %}</h1>
        {% if category %}
            <div class="ui info message">
                <div class="header">{% trans "Filtered on category" %}</div>
                {% trans "Showing only projects in" %} '{{ category }}'
                <br>
                <a href="/projects">{% trans "Reset" %}</a>
            </div>
        {% endif %}
        {% if tag %}
            <div class="ui info message">
            <div class="header">{% trans "Filtered on tags" %}</div>
                {% trans "Showing only projects tagged with" %} '{{ tag }}'
                <br>
                <a href="/projects">{% trans "Reset" %}</a>
            </div>
        {% endif %}

        {% if projects %}
            <div class="ui three doubling cards">
            {% for project in projects %}
                <div class="ui card">

                    <div class="content">
                        <div class="header">
                            <img class="right floated mini ui image" src="{% gravatar_url 'acidjunk@gmail.com' 35 %}">
                            <a href="{% pageurl project %}">{{ project.title }}<a>

                        </div>
                        <div class="meta">{{ project.date|date:"F jS, Y" }}</div>
                    </div>

                    <div class="blurring dimmable image">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="{% pageurl project %}" class="ui primary button"><i class="search icon"></i> {% trans "View" %}</a>
                                </div>
                            </div>
                        </div>
                       {% image project.header_image fill-300x300 class="image" %}
                    </div>

                    <div class="content">
                        <div class="description">{{ project.teaser|richtext }}</div>
                        <a href="{% pageurl project %}">Read more &raquo;</a>
                        <div class="ui divider"></div>
                        <a target="_new" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.get_url_parts.1 }}{% pageurl project %}&title={{ product.title }}">
                            <button class="ui circular linkedin icon button" st_title="{{ project.title }}"><i class="linkedin icon"></i></button>
                        </a>
                        <a target="_new" href="https://twitter.com/share?url={{ page.get_url_parts.1 }}{% pageurl project %}">
                            <button class="ui circular twitter icon button"><i class="twitter icon"></i></button>
                        </a>
                        <a target="_new" href="http://www.facebook.com/sharer/sharer.php?u={{ page.get_url_parts.1 }}{% pageurl project %}">
                            <button class="ui circular facebook icon button" st_title="{{ project.title }}"><i class="facebook icon"></i></button>
                        </a>
                        <a target="_new" href="https://plus.google.com/share?url={{ page.get_url_parts.1 }}{% pageurl project %}">
                            <button class="ui circular google plus icon button"><i class="google plus icon"></i></button>
                        </a>
                        <button class="ui circular mail icon button" st_title="{{ project.title }}"
                                st_url="{{ SITE_URL }}{% pageurl project %}"
                                displayText="Email"><i class="mail icon"></i>
                        </button>
                    </div>

                    <div class="extra content">
                        {% if project.categories.all %}
                            <i class="ticket icon"></i>
                            {% for cat in project.categories.all %}
                                <a href="{% url 'project:project_category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if project.tags.all %}
                            {% if project.tags.all %}&nbsp;{% endif %}<i class="tags icon"></i>
                            {% for tag in project.tags.all %}
                                <a href="{% url 'project:project_tag' tag.slug %}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if not project.categories.all and not project.tags.all %}
                            {% trans "No tags or categories" %}
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
            </div>

            <div class="ui pagination menu" style="margin-top: 10px;">
                <a href="?page=1" class="icon item" id="paginator_first_id"><i class="angle double left icon"></i></a>
                {% if projects.has_previous %}
                    <a href="?page={{ projects.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
                       class="icon item" id="paginator_next_id"><i class="angle left icon"></i></a>
                {% endif %}
                {% if blogs.has_next %}
                    <a href="?page={{ projects.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
                       class="icon item" id="paginator_previous_id"><i class="angle right icon"></i></a>
                {% endif %}
                <a href="?page={{ projects.count }}" class="icon item" id="paginator_last_id"><i
                        class="angle double right icon"></i></a>
            </div>

        {% else %}
            <p>{% trans "There are currently no projects" %}.</p>
        {% endif %}

        </div>
        <div class="three wide column">

            <form action="{% url 'project_search' %}" method="get">
                <div class="ui vertical menu">
                    <a class="{% if not category and not tag %}active {% endif %}teal item">
                        {% trans "All" %}
                        <div class="ui teal left pointing label">{{ number_of_projects }}</div>
                    </a>

                    <div class="item">
                        <h4>{% trans "Tags" %}</h4>
                        <p>{% trans "Select a tag to filter" %}:</p>
                        {% if tags %}
                            {% for tag_item in tags %}
                                <a class="{% if tag == tag_item.slug %}active {% endif %}teal item" href="{% url 'project:project_tag' tag_item.slug %}/">{{ tag_item }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="item">
                        <h4>{% trans "Categories" %}</h4>
                        <p>{% trans "Select a category to filter" %}:</p>
                        {% if categories %}
                            {% for category_item in categories %}
                                <a class="{% if category == category_item %}active {% endif %}teal item" href="{% url 'project:project_category' category_item.slug %}/">{{ category_item }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="item">
                        <h4>{% trans "Search" %}</h4>
                        <div class="ui transparent icon input">
                            <input type="text" name="query" placeholder="{% trans "Search products..." %}">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

{% endblock %}

{% block extra_js %}
<script>
    $('.ui.cards .image').dimmer({
        on: 'hover'
    });
    $( document ).ready(function() {
        $('.ui.progress').progress();
    });
</script>
{% endblock %}