{% extends "base.html" %}
{% load gravatar humanize wagtailcore_tags wagtailimages_tags static %}
{% block content %}

<div class="ui raised segment">
    <h1 class="ui divided header">Temp redirect page</h1>
    <table class="ui celled padded table">
        <tr>
            <td>Cart</td>
            <td>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Product/Project</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.cart.item_set.all %}
                        <tr>
                            <td>{{ item.product }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">
                                <div align="right">
                                    <i>Total ex VAT: </i>{{ total_without_vat }}<br>
                                    <i>VAT:</i>21%<br>
                                    <span style="font-size: 1.2rem;"><i>Total with VAT:</i>{{ total_with_vat }}</span>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
        <tr>
            <td>Order</td><td>{{ order.order_nr }}</td>
        </tr>
        <tr>
            <td>Name</td><td>{{ order.billing_name }}</td>
        </tr>
        <tr>
            <td>Organisation</td><td>{{ order.billing_company }}</td>
        </tr>
        <tr>
            <td>Provider ID</td><td>{{ provider_id }}</td>
        </tr>
        <tr>
            <td>Redirect URL</td><td><a href="{{ url_ideal }}">{{ url_ideal }}</a></td>
        </tr>
    </table>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}