{% extends "base.html" %}
{% load gravatar humanize wagtailcore_tags wagtailimages_tags static %}
{% block content %}

    <div class="ui raised segment">
        <h1 class="ui dividing header">
            Thanks
            <div class="sub header">Thanks for your donation</div>
        </h1>
        <p>Payment successfully processed</p>

        <table class="ui definition table">
            <tr>
                <td>Status</td>
                <td>
                    <div class="ui {% if status|lower == 'success' %}green{% else %}red{% endif %} label">{{ status|lower }}</div>
                </td>
            </tr>
            <tr>
                <td>TRX ID</td>
                <td>{{ trxid }}</td>
            </tr>
            <tr>
                <td>EC</td>
                <td>{{ ec }}</td>
            </tr>
            <tr>
                <td>Order Nr</td>
                <td>{{ order_nr }}</td>
            </tr>
        </table>


    </div>

{% endblock %}
