{% extends "base.html" %}
{% load gravatar humanize wagtailcore_tags wagtailimages_tags static i18n %}
{% block content %}

    <div class="ui raised segment">
        <h1 class="ui dividing header">
            {% trans "Thanks" %}
            <div class="sub header">{% trans "Thanks for your donation" %}</div>
        </h1>
        <p>{% trans "Payment successfully processed" %}</p>

        <table class="ui definition table">
            <tr>
                <td>{% trans "Status" %}</td>
                <td>
                    <div class="ui {% if status|lower == 'success' %}green{% else %}red{% endif %} label">{{ status|lower }}</div>
                </td>
            </tr>
            <tr>
                <td>TRX ID</td>
                <td>{{ trxid }}</td>
            </tr>
            <tr>
                <td>EC</td>
                <td>{{ ec }}</td>
            </tr>
            <tr>
                <td>{% trans "Order number" %}</td>
                <td>{{ order_nr }}</td>
            </tr>
        </table>


    </div>

{% endblock %}
