{% extends "base.html" %}
{% load gravatar humanize wagtailcore_tags wagtailimages_tags static i18n %}

{% block content %}
    {% for rl in self.related_links.all %}
        <p>{{ rl.title }}: <a href='{{ rl.link_page.url }}'>{{ rl.link_page }}</a></p>
    {% endfor %}

    <div class="ui stackable grid">
        <div class="thirteen wide column">
        <h1 class="ui dividing header">{% trans "Blog" %}</h1>
        {% if category %}
            <div class="ui info message">
                <div class="header">{% trans "Filtered on category" %}</div>
                {% trans "Showing only post in" %} '{{ category }}'
                <br>
                <a href="/blog">{% trans "Reset" %}</a>
            </div>
        {% endif %}
        {% if tag %}
            <div class="ui info message">
            <div class="header">{% trans "Filtered on tags" %}</div>
                {% trans "Showing only posts tagged with" %} '{{ tag }}'
                <br>
                <a href="/blog">{% trans "Reset" %}</a>
            </div>
        {% endif %}

        {% if blogs %}
            <div class="ui three doubling cards">
            {% for blog in blogs %}
                <div class="ui card">

                    <div class="content">
                        <div class="header">
                            <img class="right floated mini ui image" src="{% gravatar_url 'acidjunk@gmail.com' 35 %}">
                            <a href="{% pageurl blog %}">{{ blog.title }}<a>

                        </div>
                        <div class="meta">{{ blog.date|date:"F jS, Y" }}</div>
                    </div>

                    <div class="blurring dimmable image">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <a href="{% pageurl blog %}" class="ui primary button"><i class="search icon"></i> {% trans "View" %}</a>
                                </div>
                            </div>
                        </div>
                       {% image blog.header_image fill-300x300 class="image" %}
                    </div>

                    <div class="content">
                        <div class="description">{{ blog.body|richtext|truncatewords_html:12 }}</div>
                        <a href="{% pageurl blog %}">{% trans "Read more" %} &raquo;</a>
                        <div class="ui divider"></div>
                        <button class="ui circular linkedin icon button" st_title="{{ blog.title }}"
                                st_url="{{ SITE_URL }}{% pageurl blog %}" displayText="LinkedIn"><i class="linkedin icon"></i>
                        </button>
                        <button class="ui circular twitter icon button" st_title="{{ blog.title }}"
                                st_url="{{ SITE_URL }}{% pageurl blog %}" displayText="Tweet"><i class="twitter icon"></i>
                        </button>
                        <button class="ui circular facebook icon button" st_title="{{ blog.title }}"
                                st_url="{{ SITE_URL }}{% pageurl blog %}" displayText="Facebook"><i class="facebook icon"></i>
                        </button>
                        <button class="ui circular google plus icon button" st_title="{{ blog.title }}"
                                st_url="{{ SITE_URL }}{% pageurl blog %}" displayText="Google +1"><i class="google plus icon"></i>
                        </button>
                        <button class="ui circular mail icon button" st_title="{{ blog.title }}" st_url="{{ SITE_URL }}{% pageurl blog %}"
                                displayText="Email"><i class="mail icon"></i>
                        </button>
                    </div>

                    <div class="extra content">
                        {% if blog.categories.all %}
                            <i class="ticket icon"></i>
                            {% for cat in blog.categories.all %}
                                <a href="{% url 'blog:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if blog.tags.all %}
                            {% if blog.tags.all %}&nbsp;{% endif %}<i class="tags icon"></i>
                            {% for tag in blog.tags.all %}
                                <a href="{% url 'blog:tag' tag.slug %}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if not blog.categories.all and not blog.tags.all %}
                            {% trans "No tags or categories" %}
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
            </div>

            <div class="ui pagination menu" style="margin-top: 10px;">
                <a href="?page=1" class="icon item" id="paginator_first_id"><i class="angle double left icon"></i></a>
                {% if blogs.has_previous %}
                    <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
                       class="icon item" id="paginator_next_id"><i class="angle left icon"></i></a>
                {% endif %}
                {% if blogs.has_next %}
                    <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"
                       class="icon item" id="paginator_previous_id"><i class="angle right icon"></i></a>
                {% endif %}
                <a href="?page={{ blogs.count }}" class="icon item" id="paginator_last_id"><i
                        class="angle double right icon"></i></a>
            </div>

        {% else %}
            <p>{% trans "There are currently no blog posts" %}.</p>
        {% endif %}
        </div>
        <div class="three wide column">

            <form action="{% url 'blog:search' %}" method="get">
                <div class="ui vertical menu">
                    <a class="{% if not category and not tag %}active {% endif %}teal item">
                        {% trans "All" %}
                        <div class="ui teal left pointing label">{{ number_of_blog_posts }}</div>
                    </a>

                    <div class="item">
                        <h4>{% trans "Tags" %}</h4>
                        <p>{% trans "Select a tag to filter" %}:</p>
                        {% if tags %}
                            {% for tag_item in tags %}
                                <a class="{% if tag == tag_item.slug %}active {% endif %}teal item" href="{% url 'blog:tag' tag_item.slug %}/">{{ tag_item }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="item">
                        <h4>{% trans "Categories" %}</h4>
                        <p>{% trans "Select a category to filter" %}:</p>
                        {% if categories %}
                            {% for category_item in categories %}
                                <a class="{% if category == category_item %}active {% endif %}teal item" href="{% url 'blog:category' category_item.slug %}/">{{ category_item }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="item">
                        <h4>{% trans "Search" %}</h4>
                        <div class="ui transparent icon input">
                            <input type="text" name="query" placeholder="{% trans "Search posts..." %}">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

{% endblock %}

{% block extra_js %}
    <script>
        $('.ui.cards .image').dimmer({
            on: 'hover'
        });
    </script>
{% endblock %}