{% load static wagtailuserbar %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static "semantic-ui/semantic.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/funder.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="ui grid">
            <div class="computer tablet only row">
                <div class="ui inverted menu navbar page grid">
                    <a href="" class="brand item">Project Name</a>
                    <a href="" class="active item">Home</a>
                    <a href="" class="item">About</a>
                    <a href="" class="item">Contact</a>
                    <a class="ui dropdown item">Dropdown
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">Action</div>
                            <div class="item">Another action</div>
                            <div class="item">Something else here</div>
                            <div class="ui divider"></div>
                            <div class="item">Seperated link</div>
                            <div class="item">One more seperated link</div>
                        </div>
                    </a>
                    <div class="right menu">
                        <a href="" class="active item">Default</a>
                        <a href="" class="item">Static top</a>
                        <a href="" class="item">Fixed top</a>
                    </div>
                </div>
            </div>
            <div class="mobile only row">
                <div class="ui inverted navbar menu">
                    <a href="" class="brand item">Project Name</a>
                    <div class="right menu open">
                        <a href="" class="menu item">
                            <i class="reorder icon"></i>
                        </a>
                    </div>
                </div>
                <div class="ui vertical navbar menu">
                    <a href="" class="active item">Home</a>
                    <a href="" class="item">About</a>
                    <a href="" class="item">Contact</a>
                    <div class="ui item">
                        <div class="text">Dropdown</div>
                        <div class="menu">
                            <a class="item">Action</a>
                            <a class="item">Another action</a>
                            <a class="item">Something else here</a>
                            <a class="ui aider"></a>
                            <a class="item">Seperated link</a>
                            <a class="item">One more seperated link</a>
                        </div>
                    </div>
                    <div class="menu">
                        <a href="" class="active item">Default</a>
                        <a href="" class="item">Static top</a>
                        <a href="" class="item">Fixed top</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui page grid main">
            <div class="row">
                <div class="column padding-reset">
                    <div class="ui large message">
                        <h1 class="ui huge header">Navbar example</h1>
                        <p>This example is a quick exercise to illustrate how the default, static and fixed to top
                            navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and
                            device.</p>
                        <p>To see the difference between static and fixed top navbars, just scroll.</p>
                        <a href="" class="ui blue button">View navbar docs &raquo;</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->

        <script src="main.js"></script>
        <!-- endbower -->
        <!-- endbuild -->




        {% block content %}{% endblock %}










        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/funder.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
