{% load static staticfiles wagtailuserbar i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="shortcut icon" href="{%  static "images/favicon.ico" %}">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static "semantic-ui/semantic.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/funder.css" %}">

        <script src="{% static "js/jquery/jquery-2.1.3.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery/jquery.form.js" %}"></script>
        <script src="{% static "semantic-ui/semantic.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/funder.js" %}"></script>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="desktop only row">
            <form action="{% url 'search' %}" method="get">

                <div class="ui fixed inverted menu">
                    <div class="ui container">
                        <a href="/" class="header item">
                            <img class="logo" src="{% static "images/logo.png" %}" style="height: 30px; width: 115px;">
                        </a>
                        <a class="item" href="/blog">{% trans "Blog" %}</a>
                        <a class="item" href="/products">{% trans "Products" %}</a>
                        <a class="item" href="/projects">{% trans "Projects" %}</a>
                        <a class="item" href="/contact">{% trans "Contact" %}</a>
                        <div class="right menu">
                            <div class="item">
                                <div class="ui icon input">
                                    <input type="text" name="query" placeholder="{% trans "Search..." %}"{% if search_query %} value="{{ search_query }}"{% endif %}>
                                    <i class="search link icon"></i>
                                </div>
                            </div>
                            <a class="item" href="/order/checkout">
                                <i class="shopping cart icon"></i>
                                <div class="floating ui tiny red circular label number_of_cart_items" style="top: 5px;">
                                    {{ number_of_cart_items }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </form>

            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>

        </div>

        <div class="mobile only row">
            <form action="{% url 'search' %}" method="get">

                <div class="ui inverted menu">
                    <a class="item" href="/"><i class="home icon"></i></a>
                    <a class="item" href="/products">{% trans "Products" %}</a>
                    <a class="item" href="/projects">{% trans "Projects" %}</a>
                    <a class="item" href="/order/checkout">
                        <i class="shopping cart icon"></i>
                        <div class="floating ui tiny red circular label number_of_cart_items" style="top: 5px; left: 45px;">
                            {{ number_of_cart_items }}
                        </div>
                    </a>

                    <div class="right menu open">
                        <a href="" class="menu item">
                            <i class="content icon"></i>
                        </a>
                    </div>
                </div>

                <div class="ui vertical fluid menu" style="margin-top: -14px;">
                    <a href="" class="item">{% trans "Blog" %}</a>
                    <a href="" class="item">{% trans "Contact" %}</a>
                    <div class="item">
                        <input type="text" name="query" placeholder="{% trans "Search..." %}"{% if search_query %} value="{{ search_query }}"{% endif %}>
                        <i class="search link icon"></i>
                    </div>
                </div>

                <div class="ui hidden divider"></div>
            </form>
        </div>

        <div class="ui container">
            {% block content %}{% endblock %}
        </div>

        <div class="ui hidden divider"></div>

        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header"><i class="rss icon"></i>{% trans "Product Feeds" %}</h4>
                        <div class="ui inverted link list">
                            <a href="/products/products-category/animal/feed/" class="item">Animal</a>
                            <a href="/products/productst-category/neighborhood/feed/" class="item">Neighborhood</a>
                            <a href="/products/productst-category/wellfare/feed/" class="item">Wellfare</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header"><i class="rss icon"></i>{% trans "Project Feeds" %}</h4>
                        <div class="ui inverted link list">
                            <a href="/projects/project-category/international/feed/" class="item">International</a>
                            <a href="/projects/project-category/local-area/feed/" class="item">Local Area</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header"><i class="rss icon"></i>{% trans "Blog Feeds" %}</h4>
                        <div class="ui inverted link list">
                            <a href="/blog/category/live/feed/" class="item">Category Live</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">{% trans "Want to add your own project or product?" %}</h4>
                        <p>
                            {% trans "We are always open for suggestions. If you are running your own non profit organisation and want to join us, please fill out the" %} <a href="/contact">{% trans "form" %}</a>.
                        </p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <img src="{% static "images/logo.png" %}" class="ui centered mini image">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">{% trans "Site Map" %}</a>
                    <a class="item" href="/contact">{% trans "Contact" %}</a>
                    <a class="item" href="#">{% trans "Terms and Conditions" %}</a>
                    <a class="item" href="#">{% trans "Privacy Policy" %}</a>
                </div>
            </div>
        </div>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    <script>$(document).ready(function(){
	$('.right.menu.open').on("click",function(e){
        e.preventDefault();
		$('.ui.vertical.menu').toggle();
	});

	$('.ui.dropdown').dropdown();
});</script>
    </body>
</html>
