<div class="three wide column">
    <h3 class="ui header white">{{ footer_snippets.0.title }}</h3>
    <p class="ui text white">{{ footer_snippets.0.text }}</p>
</div>
<div class="three wide column">
    <h3 class="ui header white">{{ footer_snippets.1.title }}</h3>
    <p class="ui text white">{{ footer_snippets.1.text }}</p>
</div>
<div class="six wide column">
    <h3 class="ui header white">{{ footer_snippets.2.title }}</h3>
    <p class="ui text white">{{ footer_snippets.2.text }}</p>
</div>
